<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2>¿Qué es Bitcoin?</h2>
    <p>
      Bitcoin es una moneda virtual e intangible. Es decir, que no se puede
      tocar en ninguna de sus formas como ocurre con las monedas o billetes,
      pero puede utilizarse como medio de pago de la misma forma que éstos.
    </p>
    <h2>¿Cuánto vale un Bitcoin?</h2>
    <p>
      El valor del Bitcoin se basa en la oferta y la demanda, y se calcula
      mediante un algoritmo que mide la cantidad de movimientos y transacciones
      con Bitcoin en tiempo real.
    </p>
  </div>
</ion-content>
